In [1]:
import pandas as pd
import numpy as np

dataset = pd.read_csv('Autolib_dataset.csv')
dataset.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [2]:
print(dataset.info())
print(dataset.isnull().sum().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB
None
9842

In [3]:
dataset.columns = dataset.columns.str.strip().str.lower().str.replace(' ', '_')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              5000 non-null   object
 1   cars                 5000 non-null   int64
 2   bluecar_counter      5000 non-null   int64
 3   utilib_counter       5000 non-null   int64
 4   utilib_1.4_counter   5000 non-null   int64
 5   charge_slots         5000 non-null   int64
 6   charging_status      5000 non-null   object
 7   city                 5000 non-null   object
 8   displayed_comment    111 non-null    object
 9   id                   5000 non-null   object
 10  kind                 5000 non-null   object
 11  geo_point            5000 non-null   object
 12  postal_code          5000 non-null   int64
 13  public_name          5000 non-null   object
 14  rental_status        5000 non-null   object
 15  scheduled_at         47 non-null     object
 16  slots                5000 non-null   int64
 17  station_type         5000 non-null   object
 18  status               5000 non-null   object
 19  subscription_status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [4]:
dataset.drop('geo_point', inplace=True, axis=1)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              5000 non-null   object
 1   cars                 5000 non-null   int64
 2   bluecar_counter      5000 non-null   int64
 3   utilib_counter       5000 non-null   int64
 4   utilib_1.4_counter   5000 non-null   int64
 5   charge_slots         5000 non-null   int64
 6   charging_status      5000 non-null   object
 7   city                 5000 non-null   object
 8   displayed_comment    111 non-null    object
 9   id                   5000 non-null   object
 10  kind                 5000 non-null   object
 11  postal_code          5000 non-null   int64
 12  public_name          5000 non-null   object
 13  rental_status        5000 non-null   object
 14  scheduled_at         47 non-null     object
 15  slots                5000 non-null   int64
 16  station_type         5000 non-null   object
 17  status               5000 non-null   object
 18  subscription_status  5000 non-null   object
 19  year                 5000 non-null   int64
 20  month                5000 non-null   int64
 21  day                  5000 non-null   int64
 22  hour                 5000 non-null   int64
 23  minute               5000 non-null   int64
dtypes: int64(12), object(12)
memory usage: 937.6+ KB

In [5]:
dataset = dataset.drop_duplicates()
dataset = dataset.dropna(how="all")
print(dataset.isnull().sum().sum())

9842

In [6]:
#Number of cars available at the station - redundant with Bluecar counter, always the same value

(dataset['cars'] == dataset['bluecar_counter']).unique()

array([ True])

In [7]:
#Whether the station is operational for recharging. Mainly "nonexistent", "operational" or "broken":
#charge slots can only be greater than 0 when "operational"; 
#slots and vehicles can be available in all situations (except future stations that have 0 resources

conditions = [(dataset['charging_status'] == 'future') & (dataset['bluecar_counter']== 0)]
#define choices
choices = [True]
#column  to display results of comparison
dataset['Future'] = np.select(conditions, choices, default='False')
#view the created column results
print(dataset['Future'].unique())



#df[['Charging Status','Charge Slots']]
conditions = [(dataset['charging_status'] == 'future') & (dataset['charge_slots'] >= 0)]
choices = [True]
#new column
dataset['charge_status_slots'] = np.select(conditions, choices, default='False')

print(dataset['charge_status_slots'].unique())

['False']
['False']

In [8]:
dataset['charging_status'].unique()
#realized charging status column has no value future

array(['nonexistent', 'operational', 'broken'], dtype=object)

In [9]:
print(dataset.isnull().any())

address                False
cars                   False
bluecar_counter        False
utilib_counter         False
utilib_1.4_counter     False
charge_slots           False
charging_status        False
city                   False
displayed_comment       True
id                     False
kind                   False
postal_code            False
public_name            False
rental_status          False
scheduled_at            True
slots                  False
station_type           False
status                 False
subscription_status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
Future                 False
charge_status_slots    False
dtype: bool

In [10]:
dataset.drop('displayed_comment', inplace=True, axis=1)

In [11]:
dataset.drop('scheduled_at', inplace=True, axis=1)

In [12]:
print(dataset.isnull().any())
print(dataset.isnull().sum().sum())

address                False
cars                   False
bluecar_counter        False
utilib_counter         False
utilib_1.4_counter     False
charge_slots           False
charging_status        False
city                   False
id                     False
kind                   False
postal_code            False
public_name            False
rental_status          False
slots                  False
station_type           False
status                 False
subscription_status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
Future                 False
charge_status_slots    False
dtype: bool
0

In [13]:
#Identify the most popular hour 
#of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
pop_hour = dataset[(dataset['city']=='Paris')&(dataset['month']== 4) & (dataset['year'] == 2018)&(dataset['bluecar_counter'] > 0)]['hour'].value_counts().max()
dataset.loc[pop_hour]['hour']

#6 is the most popular hour

6

In [14]:
#What is the most popular hour for returning cars?
print(dataset['rental_status'].unique())
#where rental status is nonexistent depicts car is returned
dataset.loc[dataset['rental_status']== 'nonexistent'].hour.max()

['operational' 'broken' 'future' 'nonexistent']

13

In [15]:
#Most popular station overal
dataset['public_name'].max()

'Ã\x89pinay-sur-Seine/Foch/53'

In [16]:
#What station is the most popular At the most popular picking hour
df =dataset.loc[dataset['rental_status']=='operational']['hour'].value_counts().max()
dataset.loc[df]['public_name']

'Paris/RÃ©aumur/38'

In [17]:
#What postal code is the most popular for picking up Blue cars?
#overally
df2 =dataset.loc[dataset['rental_status']=='operational']['bluecar_counter'].value_counts().max()
dataset.loc[df2]['postal_code']

92140

In [18]:
#Does the most popular station belong to that postal code?
dataset.loc[df2]
#Our answer is No

address                  1 Place Ferrari
cars                                   2
bluecar_counter                        2
utilib_counter                         0
utilib_1.4_counter                     0
charge_slots                           0
charging_status              nonexistent
city                             Clamart
id                     clamart-ferrari-1
kind                             STATION
postal_code                        92140
public_name            Clamart/Ferrari/1
rental_status                operational
slots                                  1
station_type                     station
status                                ok
subscription_status          nonexistent
year                                2018
month                                  4
day                                    6
hour                                  18
minute                                58
Future                             False
charge_status_slots                False
Name: 1065, dtype: object